<!doctype html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Giuseppe Ganci">
    <title>Controllo Credito Carta · CardManager</title>
    <!-- Favicons -->
    <link href="../static/assets/icona_progetto.ico" rel="icon">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap.rtl.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/login.css" rel="stylesheet">
</head>

<body class="bg-light">
    <div class="container">
        <main>
            <div class="text-center">
                <img class="mb-4" src="../static/assets/logo_nero.png" alt="" width="300">
                <h2>Controlla il credito residuo</h2>
                <p class="lead">Inserisci di seguito i dati della carta per cui controllare il credito.</p>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <form class="needs-validation">
                        <div class="row filter gy-3">
                            <div class="col-md-8">
                                <label for="numeroCarta" class="form-label">Numero carta</label>
                                <input type="text" class="form-control" id="numeroCarta"
                                    placeholder="0000 1111 2222 3333" required>
                            </div>
                            <div class="col-md-4">
                                <button class="w-100 btn btn-primary btn-lg" id="checkCredito" type="button"
                                    data-bs-toggle="modal" data-bs-target="#modaleCredito">Verifica Credito</button>
                            </div>
                        </div>
                    </form>
                </div>
                <hr class="my-4">
                <div class="col-md-12 col-lg-12 center-ref">
                    <a href="login.html">Torna alla Login</a>
                </div>
            </div>
        </main>
        <div id="modaleCredito" class="modal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="bodyModale">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery-3.7.0.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>