<!doctype html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Giuseppe Ganci">
    <title>Clienti · CardManager</title>
    <!-- Favicons -->
    <link href="../static/assets/icona_progetto.ico" rel="icon">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap.rtl.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body class="bg-light">
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="../static/assets/logo.png" alt="" width="300">
                </a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="index.html" class="nav-link px-2 text-white">Home</a></li>
                    <li><a href="transactions.html" class="nav-link px-2 text-white">Transazioni</a></li>
                    <li><a href="#" class="nav-link px-2 text-secondary">Clienti</a></li>
                    <li><a href="cards.html" class="nav-link px-2 text-white">Carte</a></li>
                    <li><a href="merchants.html" class="nav-link px-2 text-white">Venditori</a></li>
                </ul>
                <div class="text-end">
                    <button type="button" id="logout" class="btn btn-danger">Logout</button>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main>
            <div class="py-5 text-center">
                <h2>Lista Clienti</h2>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="row filter">
                        <div class="col-md-6">
                            <label for="cc-cvv" class="form-label">Filtro Cliente</label>
                            <input type="text" class="form-control" id="cc-cvv" placeholder="Mario" required>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Scarica Report"><i class="bi bi-box-arrow-down"></i></button>
                        </div>
                    </div>
                    <hr class="my-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Email</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Cognome</th>
                                <th scope="col">Numero di carte</th>
                                <th scope="col">Cancella</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">example1@you.com</th>
                                <td>Larry</td>
                                <td>Norton</td>
                                <td>2</td>
                                <td><button class="btn btn-lg btn-primary" type="button"><i class="bi bi-trash2-fill"></i></button></td>
                            </tr>
                            <tr>
                                <th scope="row">example2@you.com</th>
                                <td>Larry</td>
                                <td>Norton</td>
                                <td>1</td>
                                <td><button class="btn btn-lg btn-primary" type="button"><i class="bi bi-trash2-fill"></i></button></td>
                            </tr>
                            <tr>
                                <th scope="row">example3@you.com</th>
                                <td>Larry</td>
                                <td>Norton</td>
                                <td>4</td>
                                <td><button class="btn btn-lg btn-primary" type="button"><i class="bi bi-trash2-fill"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a class="add_button" href="user_registration.html"><button type="button" class="w-100 btn btn-lg btn-outline-primary">Aggiungi Un Cliente</button></a>
            </div>
        </main>
    </div>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery-3.7.0.min.js"></script> 
    <script src="../static/js/main.js"></script>
</body>

</html>