<!doctype html>
<html lang="it">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Giuseppe Ganci">
  <title>Dashboard · CardManager</title>
  <!-- Favicons -->
  <link href="../static/assets/icona_progetto.ico" rel="icon">
  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/bootstrap.rtl.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="../static/css/style.css" rel="stylesheet">
</head>

<body class="bg-light">
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="../static/assets/logo.png" alt="" width="300">
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="transactions.html" class="nav-link px-2 text-white">Transazioni</a></li>
          <li><a href="customers.html" class="nav-link px-2 text-white">Clienti</a></li>
          <li><a href="cards.html" class="nav-link px-2 text-white">Carte</a></li>
          <li><a href="merchants.html" class="nav-link px-2 text-white">Venditori</a></li>
        </ul>
        <div class="text-end">
          <button type="button" class="btn btn-danger">Logout</button>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <main>
      <div class="py-5 text-center">
        <h2>Dashboard</h2>
        <p class="lead">Di seguito puoi vedere un resoconto del sistema attivo.</p>
      </div>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Carte</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
                <li>Numero di carte: 10</li>
              </ul>
              <a href="cards.html"><button type="button" class="w-100 btn btn-lg btn-outline-primary">Vedi tutte</button></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Utenti</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
                <li>Numero di utenti: 10</li>
                <li>FILTRO PER FARLE VEDERE SOLO ALL'ADMIN</li>
                <li>Admin: 100000</li>
                <li>Clienti: 100000</li>
                <li>Venditori: 100000</li>
              </ul>
              <a href="customers.html"><button type="button" class="w-100 mb-2 btn btn-lg btn-outline-primary">Vedi tutti i clienti</button></a>
              <a href="merchants.html"><button type="button" class="w-100 btn btn-lg btn-outline-primary">Vedi tutti i venditori</button></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Transazioni</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
                <li>Numero di transazioni: 10</li>
                <li>Credito totale ricaricato: 100000</li>
                <li>Credito totale addebitato: 100000</li>
              </ul>
              <a href="transactions.html"><button type="button" class="w-100 btn btn-lg btn-outline-primary">Vedi tutte</button></a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <script src="../static/js/bootstrap.bundle.min.js"></script>
</body>

</html>